<main>
    <div class="display-card">
        <div class="centre">
            <div id="1">
                <div class="image-profile">
                    <img src="../../assets/images/DSC_1151.png" alt="rahul_kumar">
                </div>
                <div class="display-name">
                    <h1>Rahul Kumar</h1>
                    <div class="span">
                        Software Developer
                    </div>
                </div>
                <div class="bottom-btn">
                    <button mat-raised-button router [routerLink]="['/work']">
                        <i class="material-icons">
                            arrow_forward_ios
                        </i>
                        Work Samples
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>